.hero__content h1 {
    font-size: 3.2rem;
    font-weight: 500;
    margin-top: 1rem;
    margin-bottom: 2rem;
    color: var(--color-white);
}

.hero__content h1 .highlight {
    color: var(--color-secondary);
}

.hero__content p {
    font-size: 1.1rem;
    color: var(--color-light);
    line-height: 2rem;
}

.hero__img-box img,
.hero__img-box video {
    width: 100%;
    height: 350px;
    border-radius: 20px;
    object-fit: cover;
}

.hero__img-box img:hover,
.hero__img-box video:hover {
    border: 1px solid var(--color-secondary);
    transition: var(--transition);
}

.hero__content {
    padding-top: 3rem;
}

.hero__img-box {
    padding-top: 2rem;
}

.services__subtitle {
    font-size: 2rem;
    font-weight: 400;
    color: var(--color-secondary);
    font-style: italic;
}

.services__title {
    font-size: 2.5rem;
    font-weight: 350;
    color: var(--color-white);
}

.featured__tour-title {
    font-size: 2.5rem;
    font-weight: 350;
    color: white;
}

.section__subtitle {
    font-weight: 400;
    font-style: italic;
    color: var(--color-secondary);
}

.experience__content h2 {
    font-size: 2.5rem;
    margin-top: 1rem;
    font-weight: 350;
    color: white;
}

.experience__content p {
    font-size: 1.1rem;
    color: var(--color-light);
    margin-top: 1rem;
}

.counter__wrapper {
    margin-top: 2.5rem;
}

.counter__wrapper span {
    width: 70px;
    height: 70px;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    background: var(--color-secondary);
    font-style: 1.6rem;
    font-weight: 600;
    border-radius: 10px 5px 10px 5px;
}

.counter__box h6 {
    color: white;
    font-size: 1.1rem;
    margin-top: 0.7em;
}

.experience__img img {
    width: 73%;
}

.gallery__title {
    font-size: 2.5rem;
    margin-top: 1rem;
    font-weight: 350;
    color: white;

}

.images {
    margin-top: 2rem;
}

.masonry__img {
    transition: var(--transition);
}

.masonry__img:hover {
    transform: scale(1.1);
}

.testimonial__title {
    font-style: 2.3rem;
    margin-top: 1rem;
    font-weight: 350;
    color: white;
}