.tour__img img {
    width: 100%;
    border-bottom: 5px 5px 0 0 !important;
    border-radius: 1%;
}

.card {
    border: none !important;
    box-shadow: rgba(0, 0, 0, 0.2) 0px 18px 50px -10px;
}

.tour__img {
    position: relative;
}

.tour__img span {
    position: absolute;
    bottom: 0;
    right: 0;
    width: max-content;
    height: max-content;
    z-index: 10;
    background: var(--color-secondary);
    color: white;
    padding: 0.3rem 0.5rem;
    border-radius: 3px 0 0 0;
}

.card__top span i {
    color: var(--color-secondary);
}

.tour__rating {
    margin-top: 1rem;
    margin-bottom: 1rem;
    font-size: .9rem;
    color: var(--color-light);
}

.tour__location {
    margin-top: 1rem;
    margin-bottom: 1rem;
    color: white;
    font-weight: 400;
    font-size: .9rem;
}

.tour__rating i,
.tour__location i {
    font-size: 1rem;
}

.tour__tile {
    font-size: 1rem;
    cursor: pointer;
}

.tour__title a {
    text-decoration: none;
    color: var(--color-secondary);
    transition: var(--transition);
}

.tour__title a:hover {
    color: white !important;
}

.card__bottom h5 {
    color: var(--color-secondary);
    font-size: 1.3rem;
    font-weight: 500;
}

.card__bottom h5 span {
    font-weight: 500;
    color: var(--color-light);
    font-size: .8rem;
}

.booking__btn {
    background: var(--color-secondary) !important;
    cursor: pointer;
    padding: 0.2rem 0.5rem !important;
    transition: var(--transition);
}

.booking__btn a {
    text-decoration: none;
    font-style: .9rem;
    color: white;
}

.booking__btn a:hover {
    color: black;
}